@import 'mixins';

$vw-viewport: 320;
$vw-enable: false;

$xs:      0;
$sm:  375px;
$md:  768px;
$lg: 1024px;
$xl: 1500px;

$xs-land:       0;
$sm-land:   600px;
$md-land:   900px;
$lg-land:  1150px;
$xl-land:  1400px;
$xxl-land: 2260px;

$white:      #ffffff;
$black:      #000000;
$grey:       #272729;
$dark-grey:  #222222;
$light-grey: #2d2d2d;
$pink:       #f7546e;

$gutter-xs:  10px;
$gutter:     20px;
$gutter-sm:  40px;
$gutter-md:  60px;
$gutter-lg:  90px;
$gutter-xl: 120px;

$border-radius:      8px;
$border-radius-md: 60px;
$border-radius-lg: 100px;

$transition:      .2s;
$transition-menu: .4s;