@import 'mixins';

$xs:      0;
$sm:  400px;
$md:  768px;
$lg: 1280px;
$xl: 1320px;

$white:           #ffffff;
$black:           #000000;
$dark-grey:       #222222;
$light-grey:      #2d2d2d;

$gutter-xs:  10px;
$gutter:     20px;
$gutter-sm:  40px;
$gutter-md:  60px;
$gutter-lg:  90px;
$gutter-xl: 120px;

$border-radius:      8px;
$border-radius-lg: 100px;

$transition: .2s;