/*
*** MENU
*/

.route-enter-active,
.route-leave-active {
    transition: opacity 0.3s;
}
.route-enter,
.route-leave-to {
    opacity: 0;
}

.fade-right-enter-active,
.fade-right-leave-active {
    transition: 0.3s ease;
}
.fade-right-enter,
.fade-right-leave-to {
    transform: translateX(100%);
    opacity: 0;
}

.case-btn {
    &-enter-active,
    &-leave-active {
    }

    &-enter,
    &-leave-to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.case-header__scroll {
    &-enter-active,
    &-leave-active {
    }

    &-enter,
    &-leave-to {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
}

.menu {
    &-enter-active,
    &-leave-active {
        transition: 0.3s ease;
        opacity: 1;
    }

    &-enter,
    &-leave-to {
        transition: 0.3s ease;
        opacity: 0;
    }

    &-links {
        &-enter-active,
        &-leave-active {
            //transform: translateX(0%);
            max-width: 0px !important;
        }

        &-enter,
        &-leave-to {
            //transform: translateX(100%);
            max-width: 0px !important;
        }

        &-leave-to {
            transition-delay: 0s;
        }
    }
}

/*
*** ------ KEYFRAMES ------
*/
@keyframes glow-animation {
    from {
        transform: translate(-50%, -50%) skew(-30deg, 10deg);
    }

    50% {
        transform: translate(-50%, -50%) skew(-14deg, 10deg);
        opacity: 0.4;
    }

    75% {
        transform: translate(-50%, -50%) skew(-30deg, 10deg);
    }

    to {
        transform: translate(-50%, -50%) skew(-30deg, 10deg);
    }
}

@keyframes menu-links {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes burger-start1 {

    to {
        transform: translateY(-50%);
    }
}
@keyframes burger-start2 {

    to {
        transform: translateY(50%);
    }
}


@keyframes burger1 {
    from {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(0%);
    }

    55% {
        transform: translateY(0%);
    }

    to {
        transform: rotate(-45deg);
    }
}

@keyframes burger2 {
    from {
        transform: translateY(50%);
    }

    50% {
        transform: translateY(0%);
    }

    55% {
        transform: translateY(0%);
    }

    to {
        transform: rotate(45deg);
    }
}

/*

@keyframes burger1 {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: rotate(-45%);
    }
}

@keyframes burger2 {
    from {
        transform: translateY(50%);
    }
    to {
        transform: rotate(45%);
    }
}
*/