/*
*** MENU
*/

.route-enter-active,
.route-leave-active {
    transition: opacity 0.3s;
}
.route-enter,
.route-leave-to {
    opacity: 0;
}

.fade-right-enter-active,
.fade-right-leave-active {
    transition: 0.3s ease;
}
.fade-right-enter,
.fade-right-leave-to {
    transform: translateX(100%);
    opacity: 0;
}

.case-btn {
    &-enter-active,
    &-leave-active {
    }

    &-enter,
    &-leave-to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.case-header__scroll {
    &-enter-active,
    &-leave-active {
    }

    &-enter,
    &-leave-to {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
}

.stars-wrapper {
    &-enter-active,
    &-leave-active {
        transition: 1.5s ease;
        opacity: 1;
    }

    &-enter,
    &-leave-to {
        transition: 1.5s ease;
        opacity: 0;
    }
}

.menu {
    &-enter-active,
    &-leave-active {
        transition: 0.3s ease;
        opacity: 1;
    }

    &-enter,
    &-leave-to {
        transition: 0.3s ease;
        opacity: 0;
    }

    &-links {
        &-leave-active {
        }

        &-enter,
        &-leave-to {
            //width: 0 !important;
            //transform: translateX(100%);
            transform: translate3d(600px, 0px, 0px);
            //opacity: 0;

            .menu-links__inner {
                transform: translate3d(-600px, 0px, 0px) !important;
            }

            .menu-links__item {
                transform: translate3d(30%, 0px, 0px) !important;

                a {
                    transition: color 0.4s ease-out, transform 0.4s ease, opacity 0.3s linear 0s;
                    opacity: 0;
                }
            }

            @include upLandscape($xl-land) {
                color: red;
            }
        }

        &-enter {
            .indicator__inner {
                transition-delay: $transition-menu !important;
            }
        }

        &-leave-to {
            //transition-delay: 0s;
            transition-delay: 0.4s !important;

            .menu-links__inner {
                transition-delay: 0.4s !important;
            }

            .menu-links__item {
                transform: translate3d(0px, 0px, 0px) !important;

                &.active {
                    transform: translate3d(10%, 0px, 0px) !important;
                    transition-delay: 0s !important;
                    transition: 0.4s ease;

                    .menu-links-overflow {
                        width: 100%;
                    }
                }

                a {
                    opacity: 1;
                }
            }

            .indicator__inner {
                transform: scaleY(0);
            }
        }
    }
}

.modal-wrap {
    &-enter-active,
    &-leave-active {
        transition: transform .4s ease, opacity .2s ease;
        opacity: 1;
        transform: scale(1);
    }

    &-enter,
    &-leave-to {
        transition: transform .4s ease, opacity .2s ease;
        opacity: 0;
        transform: scale(1.5);
    }
}

.modal-inner {
    &-enter-active,
    &-leave-active {
        transform: scale(1);
        opacity: 1;
        transition: .4s;
        transition-delay: .2s;
    }

    &-enter,
    &-leave-to {
        transform: scale(1.2);
        opacity: 0;
        transition: .4s;
        transition-delay: .2s;
    }
}

.slide-down {
    &-enter-active,
    &-leave-active {
        opacity: 1;
        transition: .4s;
    }

    &-enter,
    &-leave-to {
        opacity: 0;
        transition: .4s;
    }
}

/*
*** ------ KEYFRAMES ------
*/

@keyframes glow {
	from {
		transform: translate(-50%, -50%) skew(-30deg, 10deg);
	}

	30% {
		transform: translate(-50%, -50%) skew(-25deg, 10deg);
		opacity: 0.5;
	}

	to {
		transform: translate(-50%, -50%) skew(-30deg, 10deg);
	}
}

@keyframes glow-animation {
    from {
        transform: translate(-50%, -50%) skew(-30deg, 10deg);
    }

    50% {
        transform: translate(-50%, -50%) skew(-14deg, 10deg);
        opacity: 0.4;
    }

    75% {
        transform: translate(-50%, -50%) skew(-30deg, 10deg);
    }

    to {
        transform: translate(-50%, -50%) skew(-30deg, 10deg);
    }
}

@keyframes menu-links {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes burger-start1 {
    to {
        transform: translateY(-50%);
    }
}
@keyframes burger-start2 {
    to {
        transform: translateY(50%);
    }
}

@keyframes burger1 {
    from {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(0%);
    }

    55% {
        transform: translateY(0%);
    }

    to {
        transform: rotate(-45deg);
    }
}

@keyframes burger2 {
    from {
        transform: translateY(50%);
    }

    50% {
        transform: translateY(0%);
    }

    55% {
        transform: translateY(0%);
    }

    to {
        transform: rotate(45deg);
    }
}

@keyframes scroll-down {
    0% {
        transform: translate(-50%, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 20px);
        opacity: 0;
    }
}

/*

@keyframes burger1 {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: rotate(-45%);
    }
}

@keyframes burger2 {
    from {
        transform: translateY(50%);
    }
    to {
        transform: rotate(45%);
    }
}
*/
