@import "override-bootstrap";
@import "variables";
@import "fonts";

html {
    overflow-x: hidden;
    width: 100%;

	&.locked, &.locked body {
		overflow: hidden;
		height: 100%;
		position: fixed;
		width: 100%;
	}   
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: TT Norms;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.42px;
    color: $black;
    cursor: default;
    overflow-x: hidden;
    background: black;

    @include up($sm) {
        font-size: 21px;
    }

    @include up($lg) {
        font-size: 25px;
        line-height: 31px;
        letter-spacing: 1px;
    }
}

main {
    overflow: hidden;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: Source Sans Pro;
    font-weight: bold;
    line-height: normal;
}

h1 {  
    font-size: 25px;
    letter-spacing: -0.78px;
    line-height: normal;

    @include up($sm) {
        font-size: 40px;  
    }

    @include up($md) {
        font-size: 50px;
        letter-spacing: -2px;
    }

    @include up($lg) {
        font-size: 75px;
        letter-spacing: -2px;
    }
}

h2 { 
    font-size: 35px;
    letter-spacing: -0.42px;
    line-height: normal;

    @include up($lg) {
        font-size: 65px;
        letter-spacing: -0.3px;
        line-height: 85px;
    }
}

h3 {
    font-size: 27px;

    @include up($sm) {
        font-size: 37px;
        letter-spacing: 0.26px;
        line-height: 38px; 
    }
}

h4, ul {  
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.02px;

    @include up($lg) {
        font-size: 33px;
        letter-spacing: 0.5px;
        line-height: 49px;
    }
}

h5 {
    font-family: TT Norms;
    font-weight: bold;
    font-size: 21px;
    line-height: normal;

    @include up($lg) {
        font-size: 25px;
    }
}

h6 {
    font-size: 16px;
    letter-spacing: 0.4px;

    @include up($md) {
        font-size: 20px;
    }
}

small {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.28px;
    display: block;
}

ul {
    list-style: none;
    padding-left: 60px;

    li {
        position: relative;
        margin-bottom: $gutter-sm;

        &::before {
            content: "👉";
            position: absolute;
            top: 0;
            left: -60px;
        }
    }
}

.container {

    @include up($md) {
        padding: 0 $gutter-md;
    }

    @include up($lg) {
        padding: 0 $gutter-lg;
    }
}

.router-link-exact-active {
    pointer-events: none;
    cursor: default;
}

.content-block {
    padding-top: $gutter-xs;
    padding-bottom: $gutter-xs;

	&-inner {
		color: white;
		border-radius: $border-radius;
        height: 100%;
        padding: $gutter-md $gutter-sm;
		position: relative;
		box-shadow: 0 2px 87px 0 rgba(0, 0, 0, 0.19);
		
		h3 {
			margin-bottom: $gutter-xs;
        }
        
        h6 {
            margin-bottom: $gutter;
        }

        .row {
            height: 100%;
        }

		&__text {
			display: flex;
			justify-content: center;
			flex-flow: column;
		}

		&__img {
			img {
                display: block;
                position: relative;
                bottom: -$gutter-md;
                max-height: 350px;
                margin: 0 auto;

                @include up($lg) {
                    max-width: 300px;
                    max-height: none;
                    margin: unset;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
			}
		}

		p:last-child {
			margin-bottom: 0;
		}

        @include up($lg) {
            padding: $gutter-md $gutter-md;
            min-height: 400px;
        }
    }
    
    &__icon {
        position: absolute;
        top: $gutter-sm;
        right: $gutter-sm;
        font-size: 75px;
        line-height: 75px;
        display: block;

        @include up($lg) {
            font-size: 100px;
            line-height: 100px;
            top: $gutter-md;
            right: $gutter-md;
        }
    }

    @include up($lg) {
        padding-top: $gutter;
        padding-bottom: $gutter;
    }
}

.btn {
    
    &-circle {
        position: relative;
        font-size: 19px;
        outline: none;
        border: none;
        color: $white;
        padding: 7px 14px;
    
        &:not(.disabled):active:focus:hover {
            background: transparent;
            box-shadow: none;
            color: $white;
        }

        &::before {
            position: absolute;
            z-index: -1;
            display: block;
            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 42px;
            background: #0262ce;
            border-radius: 28px;
            transition: width $transition ease-in-out;

            @include up($md) {
                width: 55px;
            }
        }

        &:hover {
            &::before {
                width: 100%;
            }
        }
        

		@include up($lg) {
            font-size: 25px;
            padding: 9px 12px;
		}
    }

    &-round {
        color: $white;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 2px solid;
        padding: 0;
        transition: border, $transition;

        &:hover {
            border: 4px solid;
        }
    }

    &:active, &:focus, &:hover {
        background: transparent;
        box-shadow: none;
        color: $white;
    }
}