@import "override-bootstrap";
@import "variables";
@import "fonts";

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: TT Norms;
    font-size: 21px;
    line-height: normal;
    letter-spacing: 0.42px;
    color: $black;
    cursor: default;
    overflow-x: hidden;

    @include up($lg) {
        font-size: 25px;
        line-height: 31px;
        letter-spacing: 1px;
    }
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: Source Sans Pro;
    font-weight: bold;
    line-height: normal;
}

h1 {
    font-size: 40px;  
    letter-spacing: -0.78px;
    line-height: normal;

    @include up($lg) {
        font-size: 75px;
        letter-spacing: -2px;
    }
}

h2 { 
    font-size: 35px;
    letter-spacing: -0.42px;
    line-height: normal;

    @include up($lg) {
        font-size: 65px;
        letter-spacing: -0.3px;
        line-height: 85px;
    }
}

h3 {
    font-size: 37px;
    letter-spacing: 0.26px;
    line-height: 38px;
}

h4, ul {  
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.02px;

    @include up($lg) {
        font-size: 33px;
        letter-spacing: 0.5px;
        line-height: 49px;
    }
}

h5 {
    font-family: TT Norms;
    font-weight: bold;
    font-size: 21px;
    line-height: normal;

    @include up($lg) {
        font-size: 25px;
    }
}

h6 {
    font-size: 20px;
    letter-spacing: 0px;
}

small {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.28px;
    display: block;
}

ul {
    list-style: none;
    padding-left: 60px;

    li {
        position: relative;
        margin-bottom: $gutter-sm;

        &::before {
            content: "👉";
            position: absolute;
            top: 0;
            left: -60px;
        }
    }
}

.content-block {
    padding-top: $gutter-xs;
    padding-bottom: $gutter-xs;

	&-inner {
		color: white;
		border-radius: $border-radius;
        height: 100%;
        padding: $gutter-md $gutter-sm;
        min-height: 400px;
		position: relative;
		box-shadow: 0 2px 87px 0 rgba(0, 0, 0, 0.19);
		
		h3 {
			margin-bottom: $gutter-xs;
        }
        
        h6 {
            margin-bottom: $gutter;
        }

        .row {
            height: 100%;
        }

		&__text {
			display: flex;
			justify-content: center;
			flex-flow: column;
		}

		&__img {
			img {
                display: block;
                position: relative;
                bottom: -$gutter-md;
                max-height: 350px;
                margin: 0 auto;

                @include up($lg) {
                    max-width: 300px;
                    max-height: none;
                    margin: unset;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
			}
		}

		p:last-child {
			margin-bottom: 0;
		}

        @include up($lg) {
            padding: $gutter-md $gutter-md;
        }
    }
    
    &__icon {
        position: absolute;
        top: $gutter-sm;
        right: $gutter-sm;
        font-size: 75px;
        line-height: 75px;
        display: block;

        @include up($lg) {
            font-size: 100px;
            line-height: 100px;
            top: $gutter-md;
            right: $gutter-md;
        }
    }

    @include up($lg) {
        padding-top: $gutter;
        padding-bottom: $gutter;
    }
}