@import "override-bootstrap";
@import "variables";
@import "animations";
@import "mixins";
@import "fonts";
@import "vue-svgicon";

html {
    overflow: overlay;
    overflow-x: hidden;
    width: 100%;

    &.locked,
    &.locked body {
        overflow: hidden;
        height: 100%;
        position: fixed;
        width: 100%;
    }

    *::-webkit-scrollbar {
        width: 6px;

        &-track {
            border-radius: 10px;
            background-color: transparent;
        }

        &-thumb {
            border-radius: 10px;
            background: grey;
        }
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: TT Norms;
    font-size: get-vw(16px, 320);
    line-height: get-vw(21px, 320);
    letter-spacing: get-vw(0.42px, 320);
    font-weight: 400;
    color: $black;
    cursor: default;
    overflow-x: hidden;
    background: black;
    position: fixed;
    width: 100%;
    height: 100vh;

    @include up($sm) {
        font-size: get-vw(21px, 414);
        line-height: get-vw(26px, 414);
        letter-spacing: get-vw(0.4px, 414);
    }

    @include up($md) {
        font-size: get-vw(16.5px, 768);
        line-height: get-vw(21px, 768);
        letter-spacing: get-vw(0.4px, 768);
    }

    @include up($lg) {
        font-size: get-vw(16.5px, 1024);
        line-height: get-vw(21px, 1024);
        letter-spacing: get-vw(0.4px, 1024);
    }

    @include upLandscape($xs-land) {
        font-size: get-vw(16px, 568);
        line-height: get-vw(21px, 568);
        letter-spacing: get-vw(0.42px, 568);
    }

    @include upLandscape($md-land) {
        font-size: get-vw(16.5px, 1024);
        line-height: get-vw(21px, 1024);
        letter-spacing: get-vw(0.4px, 1024);
    }

    @include upLandscape($lg-land) {
        font-size: get-vw(16.5px, 1366);
        line-height: get-vw(21px, 1366);
        letter-spacing: get-vw(0.4px, 1366);
    }

    @include upLandscape($xl-land) {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.6px;
    }
}

main {
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s;

    &.hidden {
        opacity: 0;
    }

    &-title {
        padding-bottom: 35px;
    }

    &.case {
        & > section:first-child {
            //TODO: Убрать - padding-top: 0;
        }

        .section-title {
            color: inherit;
        }
    }
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    line-height: normal;
}

h1 {
    font-size: get-vw(25px, 320);
    letter-spacing: get-vw(-0.78px, 320);
    line-height: normal;

    @include up($sm) {
        font-size: get-vw(40px, 414);
        letter-spacing: get-vw(-0.78px, 414);
    }

    @include up($md) {
        font-size: get-vw(50px, 768);
        letter-spacing: get-vw(-2px, 768);
        line-height: get-vw(55px, 768);
    }

    @include up($lg) {
        font-size: get-vw(60px, 1024);
        line-height: get-vw(65px, 1024);
        letter-spacing: get-vw(-1px, 1024);
    }

    @include up($xl) {
        //font-size: get-vw(60px, 2560);
        //line-height: get-vw(65px, 2560);
        //letter-spacing: get-vw(-1px, 2560);
    }

    @include upLandscape($xs) {
        font-size: get-vw(25px, 568);
        line-height: get-vw(30px, 568);
    }

    @include upLandscape($md-land) {
        font-size: get-vw(50px, 1024);
        line-height: get-vw(55px, 1024);
        letter-spacing: get-vw(-1.1px, 1024);
    }

    @include upLandscape($lg-land) {
        font-size: get-vw(60px, 1366);
        line-height: get-vw(65px, 1366);
        letter-spacing: get-vw(-1.1px, 1366);
    }

    @include upLandscape($xl-land) {
        font-size: 60px;
        line-height: 65px;
        letter-spacing: -1px;
    }

    @include upNonRetina($md) {
        /*
        font-size: 50px;
        letter-spacing: -0.78px;
        line-height: normal;
        */
    }
}

h2 {
    font-size: get-vw(32px, 320);
    letter-spacing: get-vw(-0.42px, 320);
    line-height: get-vw(37px, 320);

    @include up($sm) {
        font-size: get-vw(38px, 414);
        letter-spacing: get-vw(-0.54px, 414);
        line-height: get-vw(43px, 414);
    }

    @include up($md) {
        font-size: get-vw(42px, 768);
        letter-spacing: get-vw(-0.54px, 768);
        line-height: get-vw(47px, 768);
    }

    @include up($lg) {
        font-size: get-vw(42px, 1024);
        letter-spacing: get-vw(-0.54px, 1024);
        line-height: get-vw(47px, 1024);
    }

    @include upLandscape($xs) {
        font-size: get-vw(35px, 568);
        letter-spacing: get-vw(-0.42px, 568);
        line-height: get-vw(40px, 568);
    }

    @include upLandscape($md-land) {
        font-size: get-vw(42px, 1024);
        letter-spacing: get-vw(-0.54px, 1024);
        line-height: get-vw(47px, 1024);
    }

    @include upLandscape($lg-land) {
        font-size: get-vw(42px, 1366);
        line-height: get-vw(47px, 1366);
        letter-spacing: get-vw(-0.54px, 1366);
    }

    @include upLandscape($xl-land) {
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -0.5px;
    }
}

h3 {
    font-size: get-vw(27px, 320);
    letter-spacing: get-vw(0.26px, 320);
    line-height: get-vw(30px, 320);

    @include up($sm) {
        font-size: get-vw(27px, 414);
        letter-spacing: get-vw(0.26px, 414);
        line-height: get-vw(30px, 414);
    }

    @include up($md) {
        font-size: get-vw(24px, 768);
        letter-spacing: get-vw(0.26px, 768);
        line-height: get-vw(26px, 768);
    }

    @include up($lg) {
        font-size: get-vw(24px, 1024);
        letter-spacing: get-vw(0.26px, 1024);
        line-height: get-vw(26px, 1024);
    }

    @include up($xl) {
        //font-size: get-vw(60px, 2560);
        //line-height: get-vw(65px, 2560);
        //letter-spacing: get-vw(-1px, 2560);
    }

    @include upLandscape($xs) {
        font-size: get-vw(25px, 568);
        letter-spacing: get-vw(0.26px, 568);
        line-height: get-vw(30px, 568);
    }

    @include upLandscape($sm-land) {
        font-size: get-vw(27px, 895);
        letter-spacing: get-vw(0.26px, 895);
        line-height: get-vw(30px, 895);
    }

    @include upLandscape($md-land) {
        font-size: get-vw(24px, 1024);
        letter-spacing: get-vw(0.26px, 1024);
        line-height: get-vw(26px, 1024);
    }

    @include upLandscape($lg-land) {
        font-size: get-vw(24px, 1366);
        letter-spacing: get-vw(0.26px, 1366);
        line-height: get-vw(26px, 1366);
    }

    @include upLandscape($xl-land) {
        font-size: 30px;
        line-height: 35px;
        letter-spacing: -0.5px;
    }
}

h4 {
    font-size: get-vw(22px, 320);
    line-height: get-vw(32px, 320);
    letter-spacing: get-vw(-0.02px, 320);
    font-weight: 400;

    @include up($sm) {
        font-size: get-vw(22px, 414);
        line-height: get-vw(32px, 414);
        letter-spacing: get-vw(-0.02px, 414);
    }

    @include up($md) {
        font-size: get-vw(22px, 768);
        line-height: get-vw(32px, 768);
        letter-spacing: get-vw(-0.02px, 768);
    }

    @include up($lg) {
        font-size: get-vw(22px, 1024);
        line-height: get-vw(32px, 1024);
        letter-spacing: get-vw(-0.02px, 1024);
    }

    @include upLandscape($sm-land) {
        font-size: get-vw(22px, 895);
        line-height: get-vw(32px, 895);
        letter-spacing: get-vw(-0.02px, 895);
    }

    @include upLandscape($md-land) {
        font-size: get-vw(22px, 1024);
        line-height: get-vw(32px, 1024);
        letter-spacing: get-vw(-0.02px, 1024);
    }

    @include upLandscape($lg-land) {
        font-size: get-vw(22px, 1366);
        line-height: get-vw(32px, 1366);
        letter-spacing: get-vw(-0.02px, 1366);
    }

    @include upLandscape($xl-land) {
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.45px;
    }
}

h5,
.h5 {
    font-family: TT Norms;
    font-weight: bold;
    font-size: get-vw(18px, 320);
    line-height: get-vw(23px, 320);
    margin-bottom: 0;

    @include up($sm) {
        font-size: get-vw(22px, 414);
        line-height: get-vw(27px, 414);
    }

    @include up($md) {
        font-size: get-vw(22px, 768);
        line-height: get-vw(27px, 768);
    }

    @include up($lg) {
        font-size: get-vw(22px, 1024);
        line-height: get-vw(27px, 1024);
    }

    @include upLandscape($xs) {
        font-size: get-vw(22px, 568);
        line-height: get-vw(27px, 568);
    }

    @include upLandscape($md-land) {
        font-size: get-vw(22px, 1024);
        line-height: get-vw(27px, 1024);
    }

    @include upLandscape($lg-land) {
        font-size: get-vw(22px, 1366);
        line-height: get-vw(27px, 1366);
    }

    @include upLandscape($xl-land) {
        font-size: 22px;
        line-height: 27px;
    }
}

h6 {
    font-size: get-vw(16.5px, 320);
    font-weight: normal;
    line-height: get-vw(19px, 320);
    letter-spacing: get-vw(0.4px, 320);

    @include up($sm) {
        font-size: get-vw(20px, 414);
        line-height: get-vw(27px, 414);
        letter-spacing: get-vw(0.4px, 414);
    }

    @include up($md) {
        font-size: get-vw(17px, 768);
        line-height: get-vw(22px, 768);
        letter-spacing: get-vw(0.4px, 768);
    }

    @include up($lg) {
        font-size: get-vw(20px, 1024);
        line-height: get-vw(22px, 1024);
        letter-spacing: get-vw(0.5px, 1024);
    }

    @include upLandscape($xs) {
        font-size: get-vw(16.5px, 568);
        line-height: get-vw(19px, 568);
        letter-spacing: get-vw(0.4px, 568);
    }

    @include upLandscape($md-land) {
        font-size: get-vw(13.5px, 1024);
        line-height: get-vw(18px, 1024);
        letter-spacing: get-vw(0.3px, 1024);
    }

    @include upLandscape($lg-land) {
        font-size: get-vw(20px, 1366);
        line-height: get-vw(25px, 1366);
        letter-spacing: get-vw(0.5px, 1366);
    }

    @include upLandscape($xl-land) {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.5px;
    }

    @include upNonRetina($md) {
        /*
        font-size: 13px;
        letter-spacing: 0.27px;
        line-height: normal;
        color: burlywood;
        */
    }
}

.checkbox-label {
    font-size: get-vw(11px, 320);
    line-height: get-vw(21px, 320);
    font-weight: 500;
    letter-spacing: 0;

    @include up($sm) {
        font-size: get-vw(14px, 414);
        line-height: get-vw(21px, 414);
    }

    @include up($md) {
        font-size: get-vw(14px, 768);
        line-height: get-vw(21px, 768);
    }

    @include up($lg) {
        font-size: get-vw(17px, 1024);
        line-height: get-vw(21px, 1024);
    }

    @include upLandscape($xs) {
        font-size: get-vw(11px, 568);
        line-height: get-vw(21px, 568);
    }

    @include upLandscape($sm-land) {
        font-size: get-vw(14px, 895);
        line-height: get-vw(21px, 895);
    }

    @include upLandscape($md-land) {
        font-size: get-vw(14px, 1024);
        line-height: get-vw(21px, 1024);
    }

    @include upLandscape($lg-land) {
        font-size: get-vw(17px, 1366);
        line-height: get-vw(21px, 1366);
    }

    @include upLandscape($xl-land) {
        font-size: 17px;
        line-height: 21px;
    }
}

small {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.28px;
    display: block;
}

ul {
    list-style: none;
    padding-left: 50px;

    li {
        position: relative;
        margin-bottom: 25px;

        svg {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 3px;
            left: -50px;
        }
    }
}

.form-control {
    border-radius: $border-radius;
    border: none;
    background-color: $grey;
}

.container {
    &.small {
    }

    &.big {
        max-width: 1350px;
    }

    @include up($xs) {
        padding-right: get-vw(20px, 320);
        padding-left: get-vw(20px, 320);
    }

    @include up($sm) {
        padding-right: get-vw(20px, 414);
        padding-left: get-vw(20px, 414);
        max-width: get-vw(470px, 414);
    }

    @include up($md) {
        padding-right: get-vw(20px, 768);
        padding-left: get-vw(20px, 768);
        max-width: get-vw(640px, 768);

        &.small {
            max-width: get-vw(640px, 768);
        }
    }

    @include up($lg) {
        padding-right: get-vw(20px, 1024);
        padding-left: get-vw(20px, 1024);
        max-width: get-vw(890px, 1024);

        &.small {
            max-width: get-vw(700px, 768);
        }
    }

    @include up($xl) {
        padding-right: get-vw(20px, 1366);
        padding-left: get-vw(20px, 1366);
        max-width: get-vw(890px, 1366);
    }

    @include upLandscape($xs-land) {
        max-width: 100%;
    }

    @include upLandscape($sm-land) {
        //max-width: get-vw(700px, 895);
    }

    @include upLandscape($md-land) {
        max-width: get-vw(788px, 1024);
    }

    @include upLandscape($lg-land) {
        max-width: get-vw(1024px, 1366);
    }

    @include upLandscape($xl-land) {
        max-width: 1040px;
    }

    @include upLandscape($xxl-land) {
        max-width: 1280px;
    }
}

.router-link-exact-active {
    pointer-events: none;
    cursor: default;
}

.content-block {
    padding-top: $gutter-xs;
    padding-bottom: $gutter-xs;

    &.overflow {
        .content-block-inner {
            overflow: hidden;
        }
    }

    &-inner {
        color: white;
        border-radius: $border-radius;
        height: 100%;
        min-height: 200px;
        padding: get-vw($gutter-sm, 320) get-vw($gutter, 320);
        position: relative;
        background-size: cover;
        background-position: center;
        box-shadow: 0 2px 87px 0 rgba(0, 0, 0, 0.19);

        h3 {
            margin-bottom: $gutter-xs;
            word-break: break-word;

            @include upLandscape($xl-land) {
                margin-bottom: 20px;
            }
        }

        h6 {
            margin-bottom: $gutter;
        }

        .row {
            height: 100%;

            &.reversed {
                flex-direction: row-reverse;

                .content-block-inner__img {
                    left: 0;
                    right: auto;
                }
            }
        }

        &__text {
            display: flex;
            justify-content: center;
            flex-flow: column;
        }

        &__img {
            img {
                padding-top: $gutter-sm;
                /*
                display: block;
                position: relative;
                bottom: get-vw(-$gutter-sm, 320);
                max-height: get-vw(320px, 320);
                margin: 0 auto;

                @include up($sm) {
                    bottom: get-vw(-$gutter-sm, 414);
                    max-height: get-vw(320px, 414);
                }

                @include up($md) {
                    //bottom: get-vw(-$gutter-md, 768);
                    max-height: 100%;
                    bottom: 0;
                }

                @include up($lg) {
                    //bottom: get-vw(-$gutter-md, 1024);
                    max-width: 300px;
                    margin: unset;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }

                @include upLandscape($xs) {
                    bottom: get-vw(-$gutter-sm, 568);
                    //bottom: get-vw(-$gutter-sm, 568);
                }

                @include upLandscape($sm-land) {
                    bottom: 0;
                }

                @include upLandscape($md-land) {
                    //bottom: get-vw(-$gutter-md, 1024);
                    max-height: 100%;
                }

                @include upLandscape($lg-land) {
                    //bottom: get-vw(-$gutter-md, 1366);
                }

                @include upLandscape($xl-land) {
                    height: 350px;
                    //bottom: get-vw(-$gutter-md, 1920);
                    //padding: get-vw($gutter-md, 1920) get-vw($gutter-md, 1920);
                }
                */

                max-height: 100%;
                max-width: 100%;
                position: unset;
                transform: unset;
                height: auto;
                margin: 0 auto;
                display: block;
                max-height: 220px;

                @include up($md) {
                    padding-top: 0;
                    max-height: 70%;
                    max-width: 100%;
                }
            }

            @include up($md) {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &.top-right {
            img {
                @include up($md) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: auto;
                    transform: unset;
                    height: 90%;
                    max-width: 100%;
                }
            }
        }

        &.right {
            img {
                @include up($md) {
                }
            }

            &--overflow {
                img {
                    @include up($md) {
                        max-width: 130%;
                        position: relative;
                        right: -20%;
                        max-height: 80%;
                    }

                    @include up($lg) {
                    }
                }
            }
        }

        &.bottom-left {
            img {
                @include up($md) {
                    height: auto;
                    width: 100%;
                    max-width: initial;
                    transform: unset;
                    left: 0;
                    position: absolute;
                }
            }

            &--overflow {
                img {
                    @include up($md) {
                        max-height: 90%;
                        max-width: 100%;
                        max-width: initial;
                        position: absolute;
                        left: 0;
                        transform: translateX(-10%);
                        max-height: 100%;
                        width: auto;
                        height: auto;
                        max-width: 100%;
                    }

                    @include up($lg) {
                        left: 0;
                        transform: translateX(-10%);
                    }
                }
            }
        }

        &.bottom {
            img {
                @include up($md) {
                }
            }

            &--overflow {
                img {
                    padding-top: 0;
                    position: relative;
                    bottom: -40px;

                    @include up($md) {
                        bottom: 0;
                        max-height: 85%;
                        margin-top: auto;
                    }

                    @include up($lg) {
                        max-height: 90%;
                    }
                }
            }
        }

        p:last-child {
            margin-bottom: 0;
        }

        @include up($sm) {
            padding: get-vw($gutter-sm, 414) get-vw($gutter, 414);
        }

        @include up($md) {
            padding: get-vw($gutter-md, 768) get-vw($gutter-sm, 768);
            min-height: get-vw(270px, 768);
        }

        @include up($lg) {
            padding: get-vw($gutter-md, 1024) get-vw($gutter-sm, 1024);
            min-height: 350px;
        }

        @include upLandscape($xs) {
            padding: get-vw($gutter-sm, 568) get-vw($gutter, 568);
        }

        @include upLandscape($md-land) {
            padding: get-vw($gutter-md, 1024) get-vw($gutter-sm, 1024);
        }

        @include upLandscape($lg-land) {
            padding: get-vw($gutter-md, 1366) get-vw($gutter-sm, 1366);
        }

        @include upLandscape($xl-land) {
            padding: $gutter-md 70px;
            min-height: 400px;
        }
    }

    &__icon {
        position: absolute;
        top: $gutter-sm;
        right: $gutter-sm;
        font-size: 75px;
        line-height: 75px;
        display: block;

        @include up($lg) {
            font-size: 100px;
            line-height: 100px;
            top: $gutter-md;
            right: $gutter-md;
        }
    }

    @include up($lg) {
        padding-top: $gutter;
        padding-bottom: $gutter;
    }

    @include upLandscape($xl-land) {
        padding: 25px;
    }
}

.btn {
    &-circle {
        position: relative;
        outline: none;
        border: none;
        color: $white;
        padding: get-vw(7px, 320) get-vw(15px, 320);
        font-size: get-vw(15px, 320);
        font-weight: 300;
        line-height: get-vw(26px, 320);
        letter-spacing: get-vw(0.4px, 320);

        &:not(.disabled):active:focus:hover {
            background: transparent;
            box-shadow: none;
            color: $white;
        }

        &__hover {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: get-vw(40px, 320);
            background: #0262ce;
            border-radius: get-vw(20px, 320);
            transition: width $transition ease-in-out;

            @include up($sm) {
                width: get-vw(50px, 414);
                border-radius: get-vw(27.5px, 414);
            }

            @include up($md) {
                width: get-vw(41px, 768);
                border-radius: get-vw(20.5px, 768);
            }

            @include upLandscape($xs) {
                width: get-vw(40px, 568);
                border-radius: get-vw(20px, 568);
            }

            @include upLandscape($md-land) {
                width: get-vw(41px, 1024);
                border-radius: get-vw(20.5px, 1024);
            }

            @include upLandscape($xl-land) {
                width: 44px;
                border-radius: 27.5px;
            }
        }

        &:hover {
            .btn-circle__hover {
                width: 100%;
            }
        }

        @include up($sm) {
            font-size: get-vw(25px, 414);
            padding: get-vw(12px, 414) get-vw(15px, 414);
            letter-spacing: get-vw(0.4px, 414);
        }

        @include up($md) {
            font-size: get-vw(19px, 768);
            line-height: get-vw(25px, 768);
            padding: get-vw(8px, 768) get-vw(14px, 768);
            letter-spacing: get-vw(0.4px, 768);
        }

        @include up($lg) {
            font-size: get-vw(25px, 1024);
            line-height: get-vw(31px, 1024);
            letter-spacing: get-vw(0.4px, 1024);
            padding: get-vw(11px, 1024) get-vw(19px, 1024) get-vw(13px, 1024);
        }

        @include upLandscape($xs) {
            padding: get-vw(6px, 568) get-vw(15px, 568) get-vw(8px, 568);
            font-size: get-vw(15px, 568);
            line-height: get-vw(26px, 568);
            letter-spacing: get-vw(0.4px, 568);
        }

        @include upLandscape($md-land) {
            font-size: get-vw(19px, 1024);
            line-height: get-vw(25px, 1024);
            letter-spacing: get-vw(0.4px, 1024);
            padding: get-vw(8px, 1024) get-vw(14px, 1024);
        }

        @include upLandscape($xl-land) {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0px;
            padding: 7px 15px 9px;
        }
    }

    &-border {
        position: relative;
        outline: none;
        border: none;
        color: $white;
        padding: get-vw(7px, 320) get-vw(15px, 320);
        font-size: get-vw(18px, 320);
        font-weight: 500;
        line-height: get-vw(23px, 320);
        letter-spacing: get-vw(0.4px, 320);
        border-radius: 100px;
        border: 2px solid $white;
        font-family: "TT Norms";

        &:not(.disabled):active:focus:hover {
            background: transparent;
            box-shadow: none;
            color: $white;
        }

        &:hover {
        }

        @include up($sm) {
            font-size: get-vw(18px, 414);
            line-height: get-vw(23px, 414);
            padding: get-vw(12px, 414) get-vw(15px, 414);
            letter-spacing: get-vw(0.4px, 414);
        }

        @include up($md) {
            font-size: get-vw(18px, 768);
            line-height: get-vw(23px, 768);
            padding: get-vw(8px, 768) get-vw(14px, 768);
            letter-spacing: get-vw(0.4px, 768);
        }

        @include up($lg) {
            font-size: get-vw(18px, 1024);
            line-height: get-vw(23px, 1024);
            letter-spacing: get-vw(0.4px, 1024);
            padding: get-vw(11px, 1024) get-vw(19px, 1024) get-vw(13px, 1024);
        }

        @include upLandscape($xs) {
            padding: get-vw(6px, 568) get-vw(15px, 568) get-vw(8px, 568);
            font-size: get-vw(18px, 568);
            line-height: get-vw(23px, 568);
            letter-spacing: get-vw(0.4px, 568);
        }

        @include upLandscape($md-land) {
            font-size: get-vw(18px, 1024);
            line-height: get-vw(23px, 1024);
            letter-spacing: get-vw(0.4px, 1024);
            padding: get-vw(8px, 1024) get-vw(14px, 1024);
        }

        @include upLandscape($xl-land) {
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 0px;
            padding: 7px 15px 9px;
        }
    }

    &-round {
        color: $white;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 2px solid;
        padding: 0;
        transition: border, $transition;

        &:hover {
            border: 4px solid;
        }
    }

    &-more {
        padding: 0;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 13px;
            height: 9px;
            margin: 4px 0 0 10px;
        }

        @include up($sm) {
            font-size: get-vw(18px, 414);
            line-height: get-vw(23px, 414);
            letter-spacing: get-vw(0.4px, 414);
        }

        @include up($md) {
            font-size: get-vw(18px, 768);
            line-height: get-vw(23px, 768);
            letter-spacing: get-vw(0.4px, 768);
        }

        @include up($lg) {
            font-size: get-vw(18px, 1024);
            line-height: get-vw(23px, 1024);
            letter-spacing: get-vw(0.4px, 1024);
        }

        @include upLandscape($xs) {
            font-size: get-vw(18px, 568);
            line-height: get-vw(23px, 568);
            letter-spacing: get-vw(0.4px, 568);
        }

        @include upLandscape($md-land) {
            font-size: get-vw(18px, 1024);
            line-height: get-vw(23px, 1024);
            letter-spacing: get-vw(0.4px, 1024);
        }

        @include upLandscape($xl-land) {
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 0px;
        }
    }

    &:active,
    &:focus,
    &:hover {
        background: transparent;
        box-shadow: none;
        color: $white;
    }
}

.dropdown {
    width: 100%;

    &-toggle {
    }

    &-menu {
        width: 100%;
        background: #535a62;
        padding: 0;
        margin-top: 10px;
        overflow: hidden;

        li {
            margin-bottom: 0;

            &::before {
                display: none;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-item {
        color: $white;
        padding: 20px 24px;

        &:hover {
            background: #0000001a;
            color: $white;
        }
    }

    &.empty {
        .btn {
            font-weight: 400;
            //opacity: 0.2;
            color: #5a5a5a;

            &:not(:disabled):active,
            &:not(:disabled).active {
                color: red;
            }
        }
    }

    &.show {
        .btn {
            color: $white;
        }
    }
}

input,
.form-control,
.dropdown-toggle {
    @extend .h5;
    padding: get-vw(16px, 320) get-vw(25px, 320) get-vw(18px, 320);
    padding-right: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: $grey;
    height: auto;
    margin-bottom: 0;
    text-align: left;
    border: none;
    border-radius: $border-radius;
    color: $white;

    &::after {
        border: none;
        background-image: url("../assets/icons/arrow-down.svg");
        width: 20px;
        height: 20px;
        background-size: cover;
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-60%);
    }

    &:focus,
    &:hover,
    &:active {
        outline: none;
        box-shadow: none;
        background: $grey;
        color: $white;
        background: $grey;
    }

    &::placeholder {
        font-weight: 400;
        opacity: 0.2;
        color: $white;
    }

    @include up($sm) {
        padding: get-vw(18px, 414) get-vw(25px, 414) get-vw(20px, 414);
    }

    @include up($md) {
        padding: get-vw(18px, 768) get-vw(25px, 768) get-vw(20px, 768);
    }

    @include up($lg) {
        padding: get-vw(18px, 1024) get-vw(25px, 1024) get-vw(20px, 1024);
    }

    @include upLandscape($xs) {
        padding: get-vw(18px, 568) get-vw(25px, 568) get-vw(20px, 568);
    }

    @include upLandscape($md-land) {
        padding: get-vw(18px, 1024) get-vw(25px, 1024) get-vw(20px, 1024);
    }

    @include upLandscape($xl-land) {
        padding: 18px 25px 20px;
    }
}
.custom-checkbox {
    user-select: none;
    margin-right: 0;
    padding-left: 34px;

    .custom-control {
        &-label {
            color: #737373;
            @extend .checkbox-label;
            cursor: pointer;

            &::before {
                top: 0;
                left: -34px;
                border-radius: get-vw(6px, 320);
                border: none;
                width: get-vw(21px, 320);
                height: get-vw(21px, 320);
                background: $grey;
                pointer-events: all;

                @include up($sm) {
                    border-radius: get-vw(6px, 414);
                    width: get-vw(21px, 414);
                    height: get-vw(21px, 414);
                }

                @include up($md) {
                    border-radius: get-vw(6px, 768);
                    width: get-vw(21px, 768);
                    height: get-vw(21px, 768);
                }

                @include up($lg) {
                    border-radius: get-vw(6px, 1024);
                    width: get-vw(21px, 1024);
                    height: get-vw(21px, 1024);
                }

                @include upLandscape($xs) {
                    border-radius: get-vw(6px, 568);
                    width: get-vw(21px, 568);
                    height: get-vw(21px, 568);
                }

                @include upLandscape($md-land) {
                    border-radius: get-vw(6px, 1024);
                    width: get-vw(21px, 1024);
                    height: get-vw(21px, 1024);
                }

                @include upLandscape($lg-land) {
                    border-radius: get-vw(6px, 1366);
                    width: get-vw(21px, 1366);
                    height: get-vw(21px, 1366);
                }

                @include upLandscape($xl-land) {
                    border-radius: 6px;
                    width: 21px;
                    height: 21px;
                }
            }

            &::after {
                top: 0;
                left: -34px;
                background: $pink;
                border-radius: 3px;
                box-sizing: content-box;
                margin: 6px 0 0 6px;
                width: 9px;
                height: 9px;
                opacity: 0;
            }
        }

        &-input {
            &:checked {
                & ~ .custom-control-label {
                    &::before {
                        background: $grey;
                    }
                    &::after {
                        background-image: none;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.slider {
    &-nav {
        position: relative;
        user-select: none;
        width: 100%;

        &__prev,
        &__next {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background: #ef4a4a;
            z-index: 1;
            outline: none;
            cursor: pointer;
            position: relative;
            user-select: none;
            transition: background $transition;

            svg {
                height: 20px;
                width: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-43%, -50%) rotate(90deg);

                path {
                    fill: transparent;
                    stroke: $white;
                    transition: stroke $transition;
                }
            }

            &.swiper-button-disabled {
                background: #191919 !important;
                pointer-events: none;

                path {
                    stroke: #979797;
                }
            }
        }

        &__prev {
            margin-right: $gutter;

            svg {
                transform: translate(-57%, -50%) rotate(270deg);
            }
        }
    }
}
